<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment1 1.1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moment1._1.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <a class="navbar-brand" asp-area="" asp-page="/Index">Moment1.1 <br/> <span>Webbutveckling med <span>.NET</span></span></a>
   

    </header>

    <div class="container">
        <nav>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om sidan</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        Av Kajsa Classon &ndash; Kontakta mig via e-post: <a
            href="mailto:kacl1200@student.miun.se">kacl1200@student.miun.se</a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
