@page
@model IndexModel
@{
    ViewData["Title"] = "Om sidan";
}


<h1>@ViewData["Title"]</h1>
<p>Jag som skapat denna webbplats heter Kajsa och jag studerar sista året på webbutvecklings-programmet vid
    Mittuniversitetet (distans). Jag är baserad i Skellefteå där jag bor med min man, son och katt. När jag inte
    webbutvecklar eller umgås med min familj, virkar jag eller bygger pärlplattor för att varva ner.
</p>