@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1>Välkommen!</h1>
<p>Denna webbplats är skapad med ASP.NET Core och Razor Pages för moment 1.1 i kursen Webbutveckling med .NET. Här
    hittar du information om vad ASP:NET Core och Razor är samt exempel på dynamiskt innehåll skapat med <a asp-area=""
        asp-page="/Razor">Razor</a>.</p>

<h2>Vad är ASP.NET Core?</h2>
<p>ASP.NET Core är en öppen källkodsramverk för att bygga moderna, högpresterande webbapplikationer och API:er. Det är
    plattformsoberoende, vilket innebär att du kan köra det på Windows, macOS och Linux. ASP.NET Core är snabbt,
    skalbart och designat för att vara modulärt, så du kan endast inkludera de komponenter du behöver. Det stödjer både
    MVC (Model-View-Controller) och Razor Pages för att bygga dynamiska webbsidor.
</p>

<h2>Vad är Razor?</h2>
<p>Razor är en syntaxis och motor för att skapa dynamiskt innehåll i webbsidor, utvecklad för ASP.NET. Den används för
    att skriva server-side kod (C#) direkt i HTML-sidor. Razor gör det möjligt att kombinera HTML och C# på ett
    effektivt och enkelt sätt, vilket ger en flexibel och dynamisk webbutveckling. Koden som skrivs i Razor-syntax
    genereras på servern och skickas som ren HTML till användaren, vilket gör att du kan skapa webbsidor som reagerar på
    användarens input eller andra förändringar i datalagret.
</p>